   
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


.container {
    max-width: 1280px;
    margin: 20px auto;
    padding: 0;
}
    
.header__logo {
    display: flex;
    width: 334px;
    height: 79px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-top: 63px;
    margin-bottom: 40px;
}


.header__logo a {
    text-decoration: none; 
    color: #000;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    line-height: normal;
}

.header__logo span {
    color: #4BCAFF;
}

.header__nav-ul {
    display:flex;
    background: #35444F;
    justify-content: center;
    color:white;
    font-size: 24px;
    font-weight: 400;
}

.header__nav-li {
    padding: 21px 32px;
    transition: 150ms;
}

.header__nav-li a {
    color:white;
    text-decoration: none;
}

.header__nav-li:hover {
    background-color: #21282e;
    cursor:pointer;
}

.border-left {
    border-left: 1px solid white;
}

.border-right {
    border-right: 1px solid white;
}



.main-container {
    padding-top: 40px;
    display: flex;
    column-gap: 52px;
}

.sidebar {
    display: flex;
    min-height: 300px;
    border: 1px solid black;
    align-self: flex-start;
}

.sidebar li {
    padding: 20px;
    font-size: 27px;
    font-weight: 400;
    width: 344px;
    transition: 150ms;
}

.sidebar li:hover {
    color:#000;
    cursor: pointer;
    padding-left: 40px;
    background-color: #DBDBDB;
}

.sidebar a {
    color:#495863;
    text-decoration: none;
    transition: 150ms;
}
.sidebar a:hover {
    color:#000
}


.article__logo-wrapper {
    display: flex;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width:320px;
    height: 381px;
    transition: 200ms;
}

img:hover {
    transform: scale(1.1);    
}

.article__paragraph {
    padding-top: 20px;
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}


.text1 {
    padding-bottom: 5px;
}

.footer__nav {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;    
    background-color: #63696E7A;    
}

.footer__nav ul {
    display: flex;
    padding: 20px 30px;
}

.footer__nav li {
    padding: 0px 10px;
}

   
.footer__nav a {
    text-decoration: none;
    color: #0C1927;
    transition: 200ms;
}
        
.footer__nav a:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    color: #3181A6;
    text-decoration-color: #3181A6;    
}

.footer__nav-copyright { 
    padding-right: 40px; 
    
}

